In [1]:
import csulb_seq_data as sd
import pandas as pd


data = sd.DataGenerator()
df = data.genDataFrame()

Enter username: japitz
Enter password: ········

In [2]:
print('The dimensions of the training set t_0 are {} rows and {} columns.'.format(df['TRAIN0'].shape[0],df['TRAIN0'].shape[1]))
print('The dimensions of the dev set t_0 are {} rows and {} columns.'.format(df['DEV0'].shape[0],df['DEV0'].shape[1]))

The dimensions of the training set t_0 are 135326 rows and 52 columns.
The dimensions of the dev set t_0 are 15215 rows and 52 columns.

In [4]:
print('The dimensions of the training set t_1 are {} rows and {} columns.'.format(df['TRAIN1'].shape[0],df['TRAIN1'].shape[1]))
print('The dimensions of the dev set t_1 are {} rows and {} columns.'.format(df['DEV1'].shape[0],df['DEV1'].shape[1]))

The dimensions of the training set t_1 are 14467 rows and 87 columns.
The dimensions of the dev set t_1 are 1639 rows and 87 columns.

In [5]:
df.keys()

dict_keys(['TRAIN0', 'DEV0', 'TRAIN1', 'DEV1', 'TRAIN2', 'DEV2', 'TRAIN3', 'DEV3', 'TRAIN4', 'DEV4', 'TRAIN5', 'DEV5', 'TRAIN6', 'DEV6', 'TRAIN7', 'DEV7', 'TRAIN8', 'DEV8', 'TRAIN9', 'DEV9', 'TRAIN10', 'DEV10', 'TRAIN11', 'DEV11', 'TRAIN12', 'DEV12', 'TRAIN13', 'DEV13', 'TRAIN14', 'DEV14', 'TRAIN15', 'DEV15', 'TRAIN16', 'DEV16', 'TRAIN17', 'DEV17', 'TRAIN18', 'DEV18', 'TRAIN19', 'DEV19', 'TRAIN20', 'DEV20'])

In [6]:
pd.options.display.max_columns = None

In [7]:
df['TRAIN0'].head()

,COHORT,EMPLID,GPA_HS,GENDR_M,AFRICAN AMERICAN,ASIAN AMERICAN,CAUCASIAN,LATINO/LATINA,NATIVE AMERICAN,PACIFIC ISLANDER,"TWO OR MORE RACES, INCLUDING MINORITY","TWO OR MORE RACES, NON-MINORITIES",ETHNICITY UNKNOWN,VISA NON U.S.,CONTINUING GENERATION STUDENT,FIRST GENERATION STUDENT,FIRST GENERATION UNKNOWN,DEP_FAM_1,DEP_FAM_10,DEP_FAM_12,DEP_FAM_15,DEP_FAM_2,DEP_FAM_25,DEP_FAM_3,DEP_FAM_4,DEP_FAM_5,DEP_FAM_6,DEP_FAM_7,DEP_FAM_8,DEP_FAM_9,DEP_FAM_NA,URM_MINORITY,URM_NON-MINORITY,APP_FAM_1,APP_FAM_2,APP_FAM_3,APP_FAM_6,APP_FAM_NA,"INCM_$12,000 TO $23,999","INCM_$6,000 TO $11,999","INCM_$60,000 OR MORE",INCM_LESS THEN $6000,PELL_NON TRADITIONAL,PELL_TRADITIONAL,GRAD_IN_2.5,GRAD_IN_3.0,GRAD_IN_3.5,GRAD_IN_4.0,GRAD_IN_4.5,GRAD_IN_5.0,GRAD_IN_5.5,GRAD_IN_6.0
0,2124,010705940,336.0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0
1,2124,010705940,336.0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0
2,2124,010705940,336.0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0
3,2124,010705940,336.0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0
4,2124,010705940,336.0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0

In [9]:
import csulb_seq_mltools as cm